/* body{
  background-color: #e4cfcf;
  margin: 0;
  padding: 0;

  
}
.Container {
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  line-height: 30px;
}

input {
  width: 200px;
  height: 50px;
  align-items: center;
  text-align: center;

}

button {
  height: 40px;
  width: 100px;
  font-size: 14px;
  color: aliceblue;
  box-sizing: border-box;
  box-shadow: none;
  border-radius: 20px 20px;
  background-color: rgb(228, 72, 72);
} */